appdirs==1.4.4
bandit==1.7.0
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
flake8-annotations==2.6.2
flake8-bandit==2.1.2
flake8-docstrings==1.6.0
flake8-isort==4.0.0
flake8-polyfill==1.0.2
gitdb==4.0.7
GitPython==3.1.18
identify==2.2.11
idna==2.10
isort==5.9.2
mccabe==0.6.1
nodeenv==1.6.0
pbr==5.6.0
pre-commit==2.13.0
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
stevedore==3.3.0
testfixtures==6.17.1
toml==0.10.2
urllib3==1.26.6
virtualenv==20.4.7
